.DS_Store
.idea
*.log
tmp/
**/classes
**/target
**/.artifacts
**/.cpcache
**/.DS_Store
**/.gradle
.nrepl-port
.lsp/.cache
.clj-kondo/
.rebl
.dir-locals.el
.projectile-cache.eld
node_modules
.env*
resources/clojure.land/.vite/
resources/clojure.land/assets/
resources/clojure.land/build/
