name: Sync Projects

on:
  workflow_dispatch:
    inputs:
      skip_restart:
        description: Restart Fly.io apps?
        type: choice
        options:
          - "true"
          - "false"
        default: "true"
  schedule:
    # Run every day at 2am
    - cron: "0 2 * * *"

jobs:
  deploy:
    name: Sync projects
    runs-on: ubuntu-latest
    concurrency: deploy-group # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "25"
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.1.1550
      - name: Cache Clojure dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
          key: clj-deps-${{ hashFiles('deps.edn') }}
      - name: Validate projects
        run: clojure -X:validate-projects
      - name: Sync projects
        run: clojure -X:sync-projects
        env:
          LOG_LEVEL: "debug"
          GITHUB_API_TOKEN: ${{ secrets._GITHUB_API_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_ENDPOINT_URL_S3: ${{ secrets.AWS_ENDPOINT_URL_S3 }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
      - name: Restart App
        run: flyctl apps restart
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
